<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lv.bigdata.action.dao.ClickEventDAO">

    <resultMap id="BaseResultMap" type="ClickEventPO">
        <id column="id" property="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="topic" property="topic" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="count" property="count" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT" javaType="java.lang.Long"/>
    </resultMap>

    <select id="selectTopN" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT * FROM click_event ORDER BY count DESC LIMIT #{topN}
    </select>

    <select id="selectTopicCount" resultType="java.lang.Long">
        SELECT COUNT(topic) totalTopic FROM click_event;
    </select>
    <select id="selectQueryCount" resultType="java.lang.Long">
        SELECT SUM(count) totalQuery FROM click_event;
    </select>

</mapper>
